$primary: #7752FE;
$white: #E5E7EB;
$white2: #F5F3FF;
$blue: #3B82F6;
$red: #D55438;
$orange:#EE964B;
$green: #8de969;
$black: #0d1118;
$black2: #0A0A0A;

$tran: all 0.35s ease;

$r1: 0.2rem;
$r2: 0.6rem;
$r3: 1rem;
$r4: 10rem;

$shadow:rgba($primary, 0.25) 0px 5px 25px 0px,rgba($primary, 0.25) 0px -5px 25px 0px,rgba($green, 0.5) 0px -1px 5px 0px,rgba($green, 0.5) 0px 1px 5px 0px;
$shadow2: rgba($primary, 0.4) 5px 5px, rgba($primary, 0.3) 10px 10px,
  rgba($primary, 0.2) 15px 15px, rgba($primary, 0.1) 20px 20px,
  rgba($primary, 0.05) 25px 25px;
  $shadow2: 0px 0px 50px 0px rgba($primary,.45);

